nav {
  background-color: var(--chocolate-web);
  justify-content: flex-end;
  min-height: 3vh;

}

nav a {
  color: var(--cosmic-latte);
  font-weight: bold;
}

.active-link {
  border-bottom: 2px solid var(--middle-blue);
  color: var(--middle-blue);
}

nav ul {
  list-style-type: none;
  padding: 0 16px;
  display: flex;
  justify-content: space-around;
  flex-basis: 300px;
  flex-grow: 0;
  flex-shrink: 0;
}

a {
  color: chocolate;
  text-transform: capitalize;
}

nav ul {
  gap: 20px;
}

section {
  margin: 24px 16px;
}

article {
  border: 1px solid var(--cosmic-latte);
  border-radius: 4px;
  margin: 46px;
  padding: 24px;
}

article h1,
article p {
  text-transform: capitalize;
}

form {
  display: flex;
  flex-direction: column;
}

button {
  width: 177px;
  height: 20px;
  margin: 50px 0;
  background-color: var(--chocolate-traditional);
  color: var(--cosmic-latte);
  margin: 5px 0;
}

button:disabled {
background-color: var(--roman-silver);
  color: var(--chocolate-traditional);
}

.error-message, .falsy {
  font-weight: bold;
  color: var(--bittersweet-shimmer);
}

.empty {
  color: var(--cosmic-latte);
}

input {
  width: 300px;

}
textarea {
  width: 300px;
  height: 200px;
}



